@page
@using System.Collections;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Nombre de Machina: @Environment.MachineName </h3>
<h4>Tiempo: @DateTime.Now</h4>

<div>
    <ul>
        @foreach (DictionaryEntry env in Environment.GetEnvironmentVariables())
        {
            <li><strong>@env.Key.ToString()</strong> : @env.Value.ToString()</li>
        }
    </ul>
</div>